/target/
/dist/
/.venv/
/.cache/
/.idea/
/.vscode/
/.direnv/
/.env
/.env.*
!.env.example
*.AppImage
*.AppImage.zsync
*.capsule
*.capsule.lock
*.log
core
core.*
vgcore.*
perf.data*
compile_commands.json
